js
node
storage
pj
websites
*.swp
.cache/
.Xauthority
.bash_history
.config/configstore
.lesshst
.local/
.node_repl_history
.npm/
.termux/termux-ohmyzsh/
.viminfo

.w3m/*
!.w3m/bookmark.html

.vnc/*
!.vnc/config
!.vnc/xstartup
.wget-hsts
